@tailwind utilities;

.swal2-popup {
    border-radius: 1.5rem !important;
    font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #213547;
    background-color: #ededed;
}

.swal2-confirm {
    padding: 0.5rem 1.25rem;
    background-color: #1f3449;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 200ms;
}

.swal2-confirm:hover {
    background-color: #175476;
}

.swal2-cancel {
    padding: 0.5rem 1.25rem;
    background-color: #a52d2d;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 200ms;
}

.swal2-cancel:hover {
    background-color: #ca4747;
}

.swal2-input,
.swal2-select,
.swal2-textarea {
    border-radius: 1rem;
    background-color: #f8f9fa;
    border-width: 1px;
    height: 3rem;
}
