@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #213547;
    background-color: #ededed;
}

body {
    display: block;
    background-color: #f8f9fa;
}

main {
    background-color: #f8f9fa;
}

a {
    font-weight: 500;
    text-decoration: none;
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}